body {
    margin: 10px;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    max-width: 100%;
}

@media (max-width: 600px) {

    body {
        margin: 8px;
        font-size: 16px;
    }

    table {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

}
